#tree_list{width: 100%;height: 100%;padding:10px;box-sizing:border-box;overflow-y: scroll;}
#tree_list ul{padding-left: 14px;}
#tree_list .tree_single{height: 18px;width: 100%;}
#tree_list .tree_ul{background: url(line_conn.gif) 0 0 repeat-y;}
#tree_list .tree_hide{display: none;}
/*节点展开*/
.tree_top_on{background-position: -92px 0px;}
.tree_top_off{background-position: -74px 0px;}
.tree_middle_on{background-position: -92px -18px;}
.tree_middle_off{background-position: -74px -18px;}
.tree_bottom_on{background-position: -92px -36px;}
.tree_bottom_off{background-position: -74px -36px;}
.tree_node_top{background-position: -56px 0px;}
.tree_node_middle{background-position: -56px -18px;}
.tree_node_bottom{background-position: -56px -36px;}
/*选中*/
.tree_check_all{background-position: -14px 0px;}
.tree_check_all:hover{background-position: -14px -14px;}
.tree_check_half{background-position: -14px -28px;}
.tree_check_half:hover{background-position: -14px -42px;}
.tree_check_no{background-position: 0px 0px;}
.tree_check_no:hover{background-position: 0px -14px;}

.tree_single>.tree_switch{display: inline-block;width: 18px;height: 18px;background-image:url("tree_img.png");}
.tree_single>.tree_check{display: inline-block;background-image: url(tree_img.png);width: 13px;height:13px;margin-left: -2px;}
.tree_single>.tree_title{display: inline-block;height: 18px;font-size: 12px;}